[Unit]
Description=guardian_bot
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/guardian_bot
ExecStart=/bin/bash /home/user/guardian_bot/guardian.sh
Environment=PYTHONIOENCODING=utf8
Restart=always
RestartSec=1
StartLimitIntervalSec=0


[Install]
WantedBy=multi-user.target

